
* {
  font-family: "Fira Sans", sans-serif;
}
*::selection {
  background: rgba(66, 184, 131, 0.5);
}

body {
  background-color: #35495E;
}
a {
  text-decoration: none;
}

header {
  background-color: #2C3D4E;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

header h1 span {
  color: #42B883;
}